1.1 Import the csv file of the stock you have been allotted using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. Analyze and understand each column properly. You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [157]:
import pandas as pd
import numpy as np

data = pd.read_csv("MINDTREE.csv")

In [158]:
# Remove all the rows where 'Series' column is NOT 'EQ'

# data = data[data.Series != "EQ"]

# Since there is only one category it removes all the rows which holds 'EQ' value in 'Series' Column. Thus I have hided this code.

In [159]:
# Dimensions of the 'data' dataframe

data.shape

(494, 15)

In [160]:
# Top 5 rows using Head Function

data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDTREE,EQ,15-May-2017,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90
1,MINDTREE,EQ,16-May-2017,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65
2,MINDTREE,EQ,17-May-2017,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35
3,MINDTREE,EQ,18-May-2017,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05
4,MINDTREE,EQ,19-May-2017,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42

In [161]:
# Bottom 5 Rows uing tail function

data.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,MINDTREE,EQ,07-May-2019,981.75,982.8,985.00,975.00,981.0,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20
490,MINDTREE,EQ,08-May-2019,979.95,981.0,985.00,971.05,982.0,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54
491,MINDTREE,EQ,09-May-2019,980.50,979.6,983.15,976.10,980.9,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89
492,MINDTREE,EQ,10-May-2019,980.45,980.4,982.90,973.00,974.0,975.35,977.55,215170,2.103396e+08,5128,26734,12.42
493,MINDTREE,EQ,13-May-2019,975.35,973.4,983.00,970.30,981.0,979.10,980.16,485941,4.762997e+08,14005,222691,45.83

In [162]:
# To know the name of the columns,

data.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [163]:
# Describes the entire data

data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.00000
mean,778.486032,779.720547,792.118421,767.127328,779.634919,779.434413,780.076619,1.388615e+06,1.191635e+09,33021.139676,3.463618e+05,29.18668
std,214.140514,214.851383,218.056333,210.381329,214.484986,213.989087,214.038370,1.450169e+06,1.373025e+09,30613.616442,3.420743e+05,14.05687
min,442.500000,443.000000,448.750000,439.050000,441.400000,442.500000,442.240000,4.630000e+04,2.305583e+07,1502.000000,1.505300e+04,5.87000
25%,537.025000,537.975000,545.862500,528.012500,535.862500,537.400000,537.410000,5.724762e+05,3.399893e+08,14062.750000,1.523290e+05,18.69500
50%,835.075000,838.000000,851.525000,820.625000,835.025000,835.875000,835.615000,1.006586e+06,8.580623e+08,25609.500000,2.529855e+05,26.39500
75%,968.137500,968.500000,980.500000,949.450000,969.950000,969.775000,967.802500,1.631997e+06,1.431053e+09,42737.000000,4.366368e+05,37.06250
max,1161.950000,1165.000000,1183.800000,1147.800000,1166.000000,1161.950000,1167.480000,1.338521e+07,1.298866e+10,311806.000000,3.851210e+06,91.89000

1.2 Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [164]:
# Maximum Price for the last 90 days

data.tail(90).max()

Symbol                       MINDTREE
Series                             EQ
Date                      31-Jan-2019
Prev Close                      989.4
Open Price                        985
High Price                        995
Low Price                       977.7
Last Price                        982
Close Price                     989.4
Average Price                  986.03
Total Traded Quantity        10222282
Turnover                  8.76016e+09
No. of Trades                  204114
Deliverable Qty               3851210
% Dly Qt to Traded Qty          91.89
dtype: object

In [165]:
# Mimimum Price for the last 90 days

data.tail(90).min()

Symbol                       MINDTREE
Series                             EQ
Date                      01-Apr-2019
Prev Close                     812.25
Open Price                        810
High Price                        827
Low Price                      792.25
Last Price                     812.95
Close Price                    812.25
Average Price                  808.81
Total Traded Quantity          215170
Turnover                   2.1034e+08
No. of Trades                    5128
Deliverable Qty                 26734
% Dly Qt to Traded Qty           5.87
dtype: object

In [166]:
# Mean Price

data.tail(90).mean()

Prev Close                9.173344e+02
Open Price                9.191867e+02
High Price                9.297994e+02
Low Price                 9.079778e+02
Last Price                9.188211e+02
Close Price               9.186122e+02
Average Price             9.192584e+02
Total Traded Quantity     1.667579e+06
Turnover                  1.521278e+09
No. of Trades             3.750028e+04
Deliverable Qty           4.618346e+05
% Dly Qt to Traded Qty    2.976167e+01
dtype: float64

In [167]:
# Maximum - Closing price for the last 90 days

data['Close Price'].tail(90).max()

989.4

In [168]:
# Minimum - Closing Price for the last 90 days

data['Close Price'].tail(90).min()

812.25

In [169]:
# Mean - Clsoing price for the last 90 days

data['Close Price'].tail(90).mean()

918.6122222222218

1.3 Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [170]:
# Analyse the data types for each column of the dataframe

data.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [171]:
# Change the date column from 'object' type to 'datetime64(ns)'

data['Date'] =  pd.to_datetime(data['Date'])

In [172]:
# To check whether it is converted or not:

data.dtypes

# Yes, the 'Date' from 'object' is converted to 'datetime64[ns]'

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [173]:
# Maximum value of date column from the 'data' dataframe

maxdate = data['Date'].max()
print (maxdate)

2019-05-13 00:00:00

In [174]:
# Minimum value of data column from the 'data' dataframe

mindate = data['Date'].min()
print(mindate)

2017-05-15 00:00:00

In [175]:
# Calculation of minimum value of the date column from the maximum value. 

calcdate = maxdate - mindate
print(calcdate)

# If we subtract, it shows the total no. of days from the maximum to minimum value.

728 days 00:00:00

1.4 In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. 
 VWAP = sum(price*volume)/sum(volume) )

In [176]:
date_month = data['Date'].dt.month
date_year = data['Date'].dt.year

data['Month'] = date_month
data['Year'] = date_year

group = data.groupby(['Month','Year'])
data['VWAP'] = np.cumsum(data['Average Price']*data['Total Traded Quantity'])/np.cumsum(data['Total Traded Quantity'])

data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,510.390000
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,511.384075
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,511.706025
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,508.684962
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,506.604409

1.5 
Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average price AND the profit/loss percentages over the course of last -
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [177]:
# To calculate the average price over the last N days of the stock price data 

N = int(input("Enter the last N days to calculate Average and Profit/Loss Percentage: "))
avg = data['Average Price'].tail(N)
def Average(avg):
  average = sum(avg)/len(avg)
  return(average)
print("Average of",N,"days is",Average(avg))

# To calculate the profit/loss percentage over the last N days

perchange = (data['Close Price']/data['Close Price'].shift(1)-1).tail(N)
date = data['Date']
print("The Profit/ Loss percentage over the",N,"days is",perchange)

Enter the last N days to calculate Average and Profit/Loss Percentage: 7
Average of 7 days is 978.1571428571427
The Profit/ Loss percentage over the 7 days is 487   -0.011412
488    0.011905
489   -0.001833
490    0.000561
491   -0.000051
492   -0.005202
493    0.003845
Name: Close Price, dtype: float64

In [178]:
# To calculate the average price over the last N days of the stock price data 

N = int(input("Enter the last N days to calculate Average and Profit/Loss Percentage: "))
avg = data['Average Price'].tail(N)
def Average(avg):
  average = sum(avg)/len(avg)
  return(average)
print("Average of",N,"days is",Average(avg))

# To calculate the profit/loss percentage over the last N days

perchange = (data['Close Price']/data['Close Price'].shift(1)-1).tail(N)
date = data['Date']
print("The Profit/ Loss percentage over the",N,"days is",perchange)

Enter the last N days to calculate Average and Profit/Loss Percentage: 14
Average of 14 days is 979.11
The Profit/ Loss percentage over the 14 days is 480    0.007950
481   -0.000820
482    0.004101
483    0.010210
484   -0.013695
485    0.005534
486    0.000153
487   -0.011412
488    0.011905
489   -0.001833
490    0.000561
491   -0.000051
492   -0.005202
493    0.003845
Name: Close Price, dtype: float64

In [179]:
# To calculate the average price over the last N days of the stock price data 

N = int(input("Enter the last N days to calculate Average and Profit/Loss Percentage: "))
avg = data['Average Price'].tail(N)
def Average(avg):
  average = sum(avg)/len(avg)
  return(average)
print("Average of",N,"days is",Average(avg))

# To calculate the profit/loss percentage over the last N days

perchange = (data['Close Price']/data['Close Price'].shift(1)-1).tail(N)
date = data['Date']
print("The Profit/ Loss percentage over the",N,"days is",perchange)

Enter the last N days to calculate Average and Profit/Loss Percentage: 30
Average of 30 days is 968.6806666666666
The Profit/ Loss percentage over the 30 days is 464   -0.007733
465   -0.002015
466    0.003453
467    0.000476
468    0.001799
469   -0.003011
470   -0.000318
471    0.010016
472    0.004565
473    0.005119
474    0.008366
475    0.006596
476   -0.001024
477    0.004100
478   -0.007350
479   -0.004062
480    0.007950
481   -0.000820
482    0.004101
483    0.010210
484   -0.013695
485    0.005534
486    0.000153
487   -0.011412
488    0.011905
489   -0.001833
490    0.000561
491   -0.000051
492   -0.005202
493    0.003845
Name: Close Price, dtype: float64

In [180]:
# To calculate the average price over the last N days of the stock price data 

N = int(input("Enter the last N days to calculate Average and Profit/Loss Percentage: "))
avg = data['Average Price'].tail(N)
def Average(avg):
  average = sum(avg)/len(avg)
  return(average)
print("Average of",N,"days is",Average(avg))

# To calculate the profit/loss percentage over the last N days

perchange = (data['Close Price']/data['Close Price'].shift(1)-1).tail(N)
date = data['Date']
print("The Profit/ Loss percentage over the",N,"days is",perchange)

Enter the last N days to calculate Average and Profit/Loss Percentage: 90
Average of 90 days is 919.2584444444444
The Profit/ Loss percentage over the 90 days is 404    0.000463
405   -0.001272
406   -0.003359
407   -0.029866
408   -0.023718
409    0.024969
410   -0.016939
411    0.002740
412   -0.013601
413    0.024315
414    0.025421
415    0.001582
416   -0.015565
417    0.031681
418    0.022066
419   -0.005919
420    0.044627
421   -0.015796
422    0.004247
423   -0.026692
424   -0.019749
425    0.040295
426   -0.014553
427    0.004043
428    0.006264
429   -0.010949
430   -0.002135
431    0.010587
432    0.002229
433   -0.008618
         ...
464   -0.007733
465   -0.002015
466    0.003453
467    0.000476
468    0.001799
469   -0.003011
470   -0.000318
471    0.010016
472    0.004565
473    0.005119
474    0.008366
475    0.006596
476   -0.001024
477    0.004100
478   -0.007350
479   -0.004062
480    0.007950
481   -0.000820
482    0.004101
483    0.010210
484   -0.013695
485    0.005534
486    0.000153
487   -0.011412
488    0.011905
489   -0.001833
490    0.000561
491   -0.000051
492   -0.005202
493    0.003845
Name: Close Price, Length: 90, dtype: float64

In [181]:
# To calculate the average price over the last N days of the stock price data 

N = int(input("Enter the last N days to calculate Average and Profit/Loss Percentage: "))
avg = data['Average Price'].tail(N)
def Average(avg):
  average = sum(avg)/len(avg)
  return(average)
print("Average of",N,"days is",Average(avg))

# To calculate the profit/loss percentage over the last N days

perchange = (data['Close Price']/data['Close Price'].shift(1)-1).tail(N)
date = data['Date']
print("The Profit/ Loss percentage over the",N,"days is",perchange)

Enter the last N days to calculate Average and Profit/Loss Percentage: 180
Average of 180 days is 932.8405555555559
The Profit/ Loss percentage over the 180 days is 314    0.027317
315    0.029809
316   -0.010530
317    0.007387
318    0.001254
319    0.001108
320   -0.024688
321    0.036268
322   -0.010857
323   -0.003370
324    0.016326
325    0.059550
326   -0.012694
327    0.015810
328    0.029474
329    0.006169
330    0.003411
331   -0.013168
332    0.012776
333   -0.012960
334   -0.001658
335    0.006947
336   -0.004209
337   -0.023618
338   -0.030482
339   -0.012245
340    0.013002
341   -0.012191
342   -0.019793
343   -0.018150
         ...
464   -0.007733
465   -0.002015
466    0.003453
467    0.000476
468    0.001799
469   -0.003011
470   -0.000318
471    0.010016
472    0.004565
473    0.005119
474    0.008366
475    0.006596
476   -0.001024
477    0.004100
478   -0.007350
479   -0.004062
480    0.007950
481   -0.000820
482    0.004101
483    0.010210
484   -0.013695
485    0.005534
486    0.000153
487   -0.011412
488    0.011905
489   -0.001833
490    0.000561
491   -0.000051
492   -0.005202
493    0.003845
Name: Close Price, Length: 180, dtype: float64

In [182]:
# To calculate the average price over the last N days of the stock price data 

N = int(input("Enter the last N days to calculate Average and Profit/Loss Percentage: "))
avg = data['Average Price'].tail(N)
def Average(avg):
  average = sum(avg)/len(avg)
  return(average)
print("Average of",N,"days is",Average(avg))

# To calculate the profit/loss percentage over the last N days

perchange = (data['Close Price']/data['Close Price'].shift(1)-1).tail(N)
date = data['Date']
print("The Profit/ Loss percentage over the",N,"days is",perchange)

Enter the last N days to calculate Average and Profit/Loss Percentage: 365
Average of 365 days is 881.1602191780812
The Profit/ Loss percentage over the 365 days is 129    0.011061
130   -0.017330
131    0.000788
132    0.022741
133   -0.011839
134   -0.001656
135    0.073373
136   -0.007636
137    0.005221
138   -0.017314
139   -0.017248
140    0.043121
141   -0.023157
142   -0.000185
143    0.031583
144   -0.019393
145   -0.000458
146    0.034075
147   -0.000443
148    0.002481
149    0.001680
150    0.016062
151   -0.007557
152    0.010765
153   -0.001385
154    0.039972
155   -0.002084
156    0.021138
157    0.003109
158   -0.000979
         ...
464   -0.007733
465   -0.002015
466    0.003453
467    0.000476
468    0.001799
469   -0.003011
470   -0.000318
471    0.010016
472    0.004565
473    0.005119
474    0.008366
475    0.006596
476   -0.001024
477    0.004100
478   -0.007350
479   -0.004062
480    0.007950
481   -0.000820
482    0.004101
483    0.010210
484   -0.013695
485    0.005534
486    0.000153
487   -0.011412
488    0.011905
489   -0.001833
490    0.000561
491   -0.000051
492   -0.005202
493    0.003845
Name: Close Price, Length: 365, dtype: float64

1.6 Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [183]:
closeprice = data['Close Price']
Day_Per_Change = closeprice.pct_change(1)
data['Day_Per_Change'] = Day_Per_Change
data.head()

# The first row contains NaN value, since there is no previous row to calculate the change.

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Per_Change
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,510.390000,NaN
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,511.384075,0.003631
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,511.706025,-0.009681
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,508.684962,-0.026563
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,506.604409,0.009333

In [184]:
# We may need this row for future purposes, so I'm setting the NaN value to 0.

data['Day_Per_Change']=data['Day_Per_Change'].fillna(0)
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Per_Change
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,510.390000,0.000000
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,511.384075,0.003631
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,511.706025,-0.009681
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,508.684962,-0.026563
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,506.604409,0.009333

1.7 Add another column 'Trend' whose values are:
'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
'Positive' for 'Day_Perc_Change' in between 1 and 3
'Negative' for 'Day_Perc_Change' in between -1 and -3
'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
'Among top losers' for 'Day_Perc_Change' in between -3 and -7
'Bull run' for 'Day_Perc_Change' >7
'Bear drop' for 'Day_Perc_Change' <-7

In [185]:
data['Trend'] = data['Day_Per_Change']
bins = [-25, -7, -3, -1, -0.5, 0.5, 1, 3, 7, 25]
labels = ['Bear drop','Among top losers','Negative','Slight negative','Slight or No Change','Slight positive','Positive','Among top gainers', 'Bull run']
data['Trend'] = pd.cut(data.Trend, bins, labels = labels)

data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Per_Change,Trend
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,510.390000,0.000000,Slight or No Change
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,511.384075,0.003631,Slight or No Change
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,511.706025,-0.009681,Slight or No Change
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,508.684962,-0.026563,Slight or No Change
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,506.604409,0.009333,Slight or No Change

1.8 Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.
{Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [186]:
grouped = data.groupby(['Trend'])
grouped['Total Traded Quantity'].aggregate([np.mean,np.median])

                             mean     median
Trend
Bear drop                     NaN        NaN
Among top losers              NaN        NaN
Negative                      NaN        NaN
Slight negative               NaN        NaN
Slight or No Change  1.388615e+06  1006586.5
Slight positive               NaN        NaN
Positive                      NaN        NaN
Among top gainers             NaN        NaN
Bull run                      NaN        NaN

1.9 SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [187]:
data.to_csv('week2.csv')